@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.allProductsContainer,
.Home,
.About,
.Contacts,
.productPage,
.CheckoutContainer {
  flex: 1;
  z-index: 1;
}

#fornavn,
#efternavn,
#city,
#zip,
#email,
#address {
  border: solid black 1px;
  border-radius: 5px;
  padding: 5px;
}

.serviceCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.logoTitle {
  font-family: "Alan Sans", sans-serif;
  font-weight: 700;
  font-style: bold;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.pris3 {
  margin-bottom: 30px;
}

.pris2 {
  margin-top: 20px;
  margin-bottom: 43px;
}

.serviceButton {
  cursor: pointer;
  border: solid 1px black;
  border-radius: 10px;
}

.productButton {
  cursor: pointer;
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
}

.serviceButton:hover,
.productButton:hover {
  background-color: #bdf9a1;
}

.LogoLink,
.kontaktLink,
.aboutLink {
  text-decoration: none;
}

.kontaktLink,
.aboutLink {
  font-size: 1.5em;
  font-family: "Alan Sans", sans-serif;
}

.upArrow,
.downArrow {
  width: 50px;
  height: 50px;
}

@media (max-width: 412px) {
  .serviceCardContainer {
    display: grid;
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(3, minmax(300px, 1fr));
    gap: 10px;
    width: 250px;
  }

  .menuImg {
    width: 40px;
    height: 40px;
  }

  .bannerContent {
    width: 250px;
  }

  #root .Header {
    grid-template-columns: 70px 1fr 70px 70px;
  }

  .searchContainer .results {
    width: 185px;
  }

  .allProductsContainer {
    flex-direction: column;
  }

  .Header .searchContainer {
    margin-top: 20px;
  }

  .inputFields,
  .sortingButtons {
    flex-direction: row;
  }

  .sortingButtons {
    margin-right: 60px;
  }

  .allProductsContainer .allProducts {
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-columns: 1fr;
  }

  .productCardContainer {
    width: 200px;
  }

  .allProductsContainer .inputContainer .MinPrice {
    margin-top: 20px;
  }

  .sortingUpButton {
    margin-right: 20px;
  }

  .imageSize {
    width: 30%;
    height: 30%;
  }
}

.serviceCard {
  background-color: white;
  border: solid black 1px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 5px #888888;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-top: 60px;
}

.results {
  background-color: white;
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  display: none;
}

.kurvContainer {
  background-color: white;
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
}

.allProducts {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.Header {
  background: #7315e5;
  background: linear-gradient(360deg, rgba(115, 21, 229, 1) 90%, rgba(21, 34, 68, 1) 95%);
  height: 130px;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 200px 200px 1fr 200px 200px;
  align-items: center;
}

.basketImg {
  height: 3em;
  background-color: white;
  border: solid #2747c4;
  border-radius: 25px;
}

.basketImg:hover {
  cursor: pointer;
}

.basketText:hover {
  cursor: pointer;
}

.basketText {
  color: white;
  padding-left: 10px;
  width: 12px;
}

.about {
  display: flex;
  justify-content: center;
}

.logo {
  padding-left: 50px;
  display: flex;
  height: 3em;
  margin-bottom: 15px;
}

.loginImg {
  height: 3em;
  background-color: white;
  border: solid white;
  border-radius: 100px;
}

.loginImg:hover {
  cursor: pointer;
}

.loginText {
  color: white;
  padding-left: 5px;
  width: 50px;
}

.loginText:hover {
  cursor: pointer;
}

.magebird {
  text-align: center;
  background: #152244;
  height: 30px;
  width: 100%;
  color: white;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

.searchBar {
  background-color: white;
  padding-left: 15px;
}

.searchBarContainer {
  display: block;
}

.footer {
  width: 100%;
  height: 3.5rem;
  background-color: #152244;
  color: white;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
